<section class="container py-3">

  <a
    class="d-inline-block mb-3 text-decoration-none"
    routerLink="/products"
  >
    ← Volver al listado
  </a>

  @if (loading()) {

    <div class="d-flex justify-content-center align-items-center py-5">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">
          Cargando producto…
        </span>
      </div>
    </div>

  } @else {

    @if (product(); as p) {

      <div class="border border-success-subtle rounded p-4">

        <div class="row align-items-center g-4">

          <!-- Imagen -->
          <div class="col-12 col-lg-6">
            <div class="bg-white border rounded p-4 d-flex justify-content-center align-items-center product-image-container">

              <app-product-image
                [src]="p.imgUrl"
                [alt]="p.brand + ' ' + p.model"
              />

            </div>
          </div>


          <!-- Descripción + acciones -->
          <div class="col-12 col-lg-5">

            <div class="d-flex flex-column gap-2">

              <!-- Description -->
              <div class="bg-white border rounded p-3">
                <app-product-description
                  [product]="p"
                />
              </div>

              <!-- Actions -->
              <div class="bg-white border rounded p-3">
                <app-product-actions
                  [product]="p"
                />
              </div>

            </div>

          </div>

        </div>

      </div>

    } @else {

      <div class="alert alert-danger">
        No se ha podido cargar este producto.
      </div>

    }

  }

</section>
